<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% Cliente.forEach(clientes => { %>
                <tr>
                    <td><%= clientes.nome %></td>
                    <td><%= clientes.telefone %></td>
                    <td><%= clientes.email %></td>
                    <td><%= clientes.endereco %></td>
                    <td>
                        <a href="/mecanico/clientes/<%= Cliente.id %>/editar">Editar</a>
                        <form action="/mecanico/clientes/<%= Cliente.id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>